# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
LotRRealmsInExile/fonts/Kereru/kereru_italic.otf
LotRRealmsInExile/fonts/Kereru/kereru_bolditalic.otf
LotRRealmsInExile/fonts/Kereru/kereru_bold.ttf
LotRRealmsInExile/fonts/Kereru/kereru.ttf
LotRRealmsInExile/fonts/ElvishRing/elvishring.otf
LotRRealmsInExile/fonts/Albertus/albertus_standarditalic.otf
LotRRealmsInExile/fonts/Albertus/albertus_standard.otf
LotRRealmsInExile/fonts/Albertus/albertus_mediumitalic.ttf
LotRRealmsInExile/fonts/Albertus/albertus_medium.ttf
LotRRealmsInExile/fonts/Albertus/albertus_light.otf
