# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.swatch

# Fonts
LotRRealmsInExileDev/fonts/Kereru/kereru_italic.otf
LotRRealmsInExileDev/fonts/Kereru/kereru_bolditalic.otf
LotRRealmsInExileDev/fonts/Kereru/kereru_bold.ttf
LotRRealmsInExileDev/fonts/Kereru/kereru.ttf
LotRRealmsInExileDev/fonts/ElvishRing/elvishring.otf
LotRRealmsInExileDev/fonts/Calligraphic421/calligraphic421.ttf
LotRRealmsInExileDev/fonts/Albertus/albertus_standarditalic.otf
LotRRealmsInExileDev/fonts/Albertus/albertus_standard.otf
LotRRealmsInExileDev/fonts/Albertus/albertus_mediumitalic.ttf
LotRRealmsInExileDev/fonts/Albertus/albertus_medium.ttf
LotRRealmsInExileDev/fonts/Albertus/albertus_light.otf
LotRRealmsInExileDev/gfx/map/map_object_data/lotr_test_objects.txt
LotRRealmsInExileDev/gfx/map/terrain/detail_intensity.tga
LotRRealmsInExileDev/gfx/map/terrain/detail_index.tga
LotRRealmsInExileDev/gfx/map/terrain/colormap.dds
LotRRealmsInExileDev/fonts/Tengwar/readme.txt
LotRRealmsInExileDev/fonts/Tengwar/tngan.ttf
LotRRealmsInExileDev/fonts/Tengwar/tnganb.ttf
LotRRealmsInExileDev/fonts/Tengwar/tnganbi.ttf
LotRRealmsInExileDev/fonts/Tengwar/tngandoc.pdf
LotRRealmsInExileDev/fonts/Tengwar/tngani.ttf
LotRRealmsInExileDev/fonts/Cirith/AngerthasMoria-Morten.txt
LotRRealmsInExileDev/fonts/Cirith/AngerthasMoria.ttf
LotRRealmsInExileDev/fonts/Cirith/CirthHelp.pdf
LotRRealmsInExileDev/fonts/Cirith/Erebor.ttf
LotRRealmsInExileDev/fonts/Cirith/read_me.txt

# Living World Map folder
resources/lwm/

# WIP Art
art/marketing/banners/Discord Banner Animated.psd

# Visual Studio
.vs/

# Notepad++ backup
.bak

# Other .mod files
*.mod

# Visual Studio stuff
/.vs

#Fonts
*.font
*.ttf
*.otf
fonts.rar
fonts/fonts.font
fonts/Albertus/albertus_light.otf
fonts/Albertus/albertus_light.otf
fonts/Albertus/albertus_medium.ttf
fonts/Albertus/albertus_mediumitalic.ttf
fonts/Albertus/albertus_standard.otf
fonts/Albertus/albertus_standarditalic.otf
fonts/Calligraphic421/calligraphic421.ttf
fonts/ElvishRing/elvishring.otf
fonts/Kereru/kereru_bold.ttf
fonts/Kereru/kereru_bolditalic.otf
fonts/Kereru/kereru_italic.otf
fonts/Kereru/kereru.ttf
fonts/Tengwar/readme.txt
fonts/Tengwar/tngan.ttf
fonts/Tengwar/tnganb.ttf
fonts/Tengwar/tnganbi.ttf
fonts/Tengwar/tngandoc.pdf
fonts/Tengwar/tngani.ttf
LotRRealmsInExileDev/fonts/fonts.font

LotRRealmsInExileDev.mod
JamiesHistoryGenerator/Jamies_Handy_Character_History_Generator_v1.2.xlsm
JamiesHistoryGenerator/generated_title_history.txt
JamiesHistoryGenerator/generated_character_history.txt
Angmar storyboard.xlsx
LotRRealmsInExileDev.code-workspace
Jamies_Handy_Character_History_Generator_v1.0.xlsm
