# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jtgou\OneDrive\Documents\Paradox Interactive\Crusader Kings III\mod\community-culture-utility\ccu_scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
